In [4]:
-- Drop the database 'NewDb'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Uncomment the ALTER DATABASE statement below to set the database to SINGLE_USER mode if the drop database command fails because the database is in use.
ALTER DATABASE NewDb SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
-- Drop the database if it exists
IF EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'NewDb'
)
DROP DATABASE NewDb
GO

In [5]:
-- Create a new database called 'db1'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'db1'
)
CREATE DATABASE db1
GO

In [8]:
USE db1
GO

In [16]:
CREATE TABLE [Supplier]
(
    [id] INT NOT NULL IDENTITY(1,1) PRIMARY KEY, -- Primary Key column
    [sid] INT NOT NULL,
    [pid] INT NOT NULL,
    [sdate] NVARCHAR(50) NOT NULL
    -- Specify more columns here
);
GO

In [18]:
-- Insert rows into table 'Supplier' in schema '[db1]'
INSERT INTO [Supplier]
( -- Columns to insert data into
 [sid], [pid], [sdate]
)
VALUES
(1, 10, '1401-10-10'),
(1, 10, '1401-10-11'),
(1, 10, '1401-10-12'),
(1, 10, '1401-10-13'),
(1, 10, '1401-10-14'),
(1, 10, '1401-10-15'),
(1, 10, '1401-10-16'),
(1, 10, '1401-10-17'),
(1, 20, '1401-10-20'),
(1, 20, '1401-10-20'),
(1, 20, '1401-10-20'),
(1, 20, '1401-10-20'),
(2, 10, '1401-10-20'),
(2, 10, '1401-10-20'),
(2, 10, '1401-10-20'),
(2, 30, '1401-10-20'),
(2, 30, '1401-10-20'),
(2, 30, '1401-10-20'),
(3, 20, '1401-10-20'),
(3, 20, '1401-10-20'),
(3, 20, '1401-10-20'),
(3, 20, '1401-10-20')
GO

In [29]:
SELECT sid, AVG(LEN(sdate)), COUNT(*)
FROM [Supplier]
GROUP BY sid, pid
HAVING COUNT(*) > 3
GO

sid,(No column name),(No column name)
1,10,9
1,10,5
3,10,4

In [15]:
-- Drop a table called 'Supplier' in schema 'db1'
-- Drop the table if it already exists
-- IF OBJECT_ID('[db1].[Supplier]', 'U') IS NOT NULL
DROP TABLE [Supplier]
GO

In [30]:
USE master
GO
CREATE DATABASE dbParham;
GO

In [31]:
USE dbParham;
GO

In [32]:
CREATE TABLE [Supplier]
(
    [sr#] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [sr_name] NVARCHAR(50) NOT NULL,
    [sr_city] NVARCHAR(50) NOT NULL,
);
GO
CREATE TABLE [Product]
(
    [p#] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [p_name] NVARCHAR(50) NOT NULL,
    [price] INT NOT NULL,
    [status] NVARCHAR(50) NOT NULL,
);
GO
CREATE TABLE [Customer]
(
    [c#] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [c_name] NVARCHAR(50) NOT NULL,
    [c_city] NVARCHAR(50) NOT NULL,
    [c_street] NVARCHAR(50) NOT NULL,
);
GO
CREATE TABLE [Sales]
(
    [s#] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [c#] INT NOT NULL FOREIGN KEY REFERENCES Customer(c#),
    [p#] INT NOT NULL FOREIGN KEY REFERENCES Product(p#),
    [sr#] INT NOT NULL FOREIGN KEY REFERENCES Supplier(sr#),
    [date] NVARCHAR(10) NOT NULL,
    [amount] INT NOT NULL,
);
GO

In [33]:
INSERT INTO [Supplier]
( [sr#], [sr_name], [sr_city] )
VALUES
(1, 'A', 'Tehran'),
(2, 'B', 'Mashad'),
(3, 'LG', 'England'),
(4, 'SONY', 'Tokyo')
GO

INSERT INTO [Product]
( [p#], [p_name], [price], [status])
VALUES
(10, 'ketab', 1500, 'available'),
(20, 'qalam', 2500, 'available'),
(30, 'monitor', 4000, 'available'),
(40, 'LCD', 5000, 'available'),
(50, 'TV', 10000, 'available')
GO

INSERT INTO [Customer]
( [c#], [c_name], [c_city], [c_street])
VALUES
(100, 'Ali', 'Tehran', 'engelab'),
(200, 'Parham', 'Qom', 'azadi')
GO

INSERT INTO [Sales]
( [s#], [c#], [p#], [sr#], [date], [amount])
VALUES
(1, 100, 10, 1, '1401-02-01', 4),
(2, 100, 40, 3, '1401-02-01', 1),
(3, 200, 40, 3, '1401-02-01', 10),
(4, 100, 50, 3, '1401-02-01', 4)
GO

In [46]:
INSERT INTO [Sales]
( [s#], [c#], [p#], [sr#], [date], [amount])
VALUES
(5, 100, 40, 3, '1401-02-01', 1),
(6, 200, 40, 3, '1401-02-01', 10),
(7, 100, 50, 3, '1401-02-01', 4)
GO

In [49]:
SELECT * FROM Sales;
SELECT * FROM Customer;
SELECT * FROM Product;
SELECT * FROM Supplier;

s#,c#,p#,sr#,date,amount
1,100,10,1,1401-02-01,4
2,100,40,4,1401-02-01,1
3,200,40,4,1401-02-01,10
4,100,50,4,1401-02-01,4
5,100,40,3,1401-02-01,1
6,200,40,3,1401-02-01,10
7,100,50,3,1401-02-01,4

c#,c_name,c_city,c_street
100,Ali,Tehran,engelab
200,Parham,Qom,azadi

p#,p_name,price,status
10,ketab,1500,available
20,qalam,2500,available
30,monitor,4000,available
40,LCD,5000,not available
50,TV,10000,not available

sr#,sr_name,sr_city
1,A,Tehran
2,B,Mashad
3,LG,England
4,SONY,Tokyo

In [48]:
UPDATE Product
SET [status] = 'not available'
FROM Product INNER JOIN Sales ON Product.p# = Sales.p#
WHERE Sales.sr# IN (
    SELECT sr#
    FROM Supplier
    WHERE sr_name = 'LG'
)

In [47]:
SELECT *
FROM Sales
WHERE Sales.sr# IN (
    SELECT sr#
    FROM Supplier
    WHERE sr_name = 'LG'
)

s#,c#,p#,sr#,date,amount
5,100,40,3,1401-02-01,1
6,200,40,3,1401-02-01,10
7,100,50,3,1401-02-01,4