In [ ]:
USE master;
CREATE DATABASE q10;
GO

In [ ]:
USE q10;

In [3]:
CREATE TABLE [Node]
(
    [nid] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [name] NVARCHAR(50),
    [color] NVARCHAR(50),
    [description] NVARCHAR(50),
);

In [6]:
CREATE TABLE [Edge]
(
    [nid1] INT NOT NULL FOREIGN KEY REFERENCES Node(nid),
    [nid2] INT NOT NULL FOREIGN KEY REFERENCES Node(nid),
    [edge_type] NVARCHAR(50),
);

In [4]:
INSERT INTO [Node]
( [nid] )
VALUES
(1),
(2),
(3),
(4),
(5)
GO

In [7]:
INSERT INTO [Edge]
( [nid1], [nid2] )
VALUES
(1, 2),
(1, 3),
(2, 1),
(3, 2),
(2, 3),
(1, 4),
(5, 2)
GO

In [10]:
SELECT * FROM [Node];
SELECT * FROM [Edge];

nid,name,color,description
1,NULL,NULL,NULL
2,NULL,NULL,NULL
3,NULL,NULL,NULL
4,NULL,NULL,NULL
5,NULL,NULL,NULL

nid1,nid2,edge_type
1,2,NULL
1,3,NULL
2,1,NULL
3,2,NULL
2,3,NULL
1,4,NULL
5,2,NULL

In [34]:
SELECT nid, COUNT(nid1) as cnt_out
From Node LEFT OUTER JOIN Edge ON Edge.nid1 = nid
GROUP BY nid;
GO

SELECT nid, COUNT(nid2) as cnt_in
From Node LEFT OUTER JOIN Edge ON Edge.nid2 = nid
GROUP BY nid;
GO

SELECT nid
FROM Node n
WHERE (
    SELECT COUNT(nid2)
    From Node LEFT OUTER JOIN Edge ON Edge.nid2 = nid
    WHERE nid = n.nid
    GROUP BY nid
) < (
    SELECT COUNT(nid1)
    From Node LEFT OUTER JOIN Edge ON Edge.nid1 = nid
    WHERE nid = n.nid
    GROUP BY nid
)
GO

nid,cnt_out
1,3
2,2
3,1
4,0
5,1

nid,cnt_in
1,1
2,3
3,2
4,1
5,0

nid
1
5

In [39]:
SELECT * 
From (
    SELECT nid1, COUNT(*) cnt, sum(nid2)
    FROM Edge
    GROUP BY nid1
) T;

: Msg 8155, Level 16, State 2, Line 6
No column name was specified for column 3 of 'T'.

In [ ]:
-- WRONG:
SELECT nid
FROM Node
WHERE (
    SELECT COUNT(*)
    FROM Edge
    WHERE nid1 = nid
    GROUP BY nid1
) < (
    SELECT COUNT(*)
    FROM Edge
    WHERE nid2 = nid
    GROUP BY nid2
)